/*  Extra Resets */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* all */
body {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  color: #2d2d2d;
}

h2 {
  font-size: 2.4rem;
  font-style: italic;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.bolded {
  font-weight: bold;
  font-style: normal;
}

.centered {
  text-align: center;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
}



/* header with navigation bar section*/
.header-top {
  display: flex;
  margin: 0 auto;
  max-width: 599px;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

}

.header-top a {
  text-decoration: none;
  list-style: none;
  color: #e2574c;
}

.aloha-logo {
  order: 1;
  flex: 0 1 50%;
}

.aloha-logo-img {
  max-width: 120px;

}

.cart-logo {
  order: 2;
  flex: 0 1 50%;
  width: 50px;
  text-align: right;
}

.navigation-container {
  order: 3;
  flex: 1 0 auto;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #d7d7d7;
}


.navigation-container li {
  display: inline-block;
  margin: 0 1rem;
  font-size: 1rem;

}

/* Hero image section */

.hero-image-section {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../images/banner-girl.png') center 60px, url('../images/flower-bkgd.jpg');
  background-size: cover, 150px 369px, cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  /* I didn't know about how many values you can add in-between */
}

.hero-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.new-collection-text {
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

.spring-summer-text {
  font-size: 2.5rem;
  color: #fff;
  font-family: "Playfair Display", serif;
}

/* hand-crafted section */

.hand-crafted-section {
  text-align: center;
  padding: 2rem 1rem 2rem 1rem;
}

.hand-crafted-container {
  padding: 0px;

}

.hand-crafted-container p {
  font-size: 1rem;
  padding-top: 1rem;
  font-weight: 300;
  line-height: 2rem;
}

/* products section */

.products-section {
  text-align: center;
}


.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "mens-section mens-section""trends-section glasses-section""sales-section bags-section""womens-section womens-section";
  grid-gap: 7px;
}

.mens-section {
  grid-area: mens-section;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../images/mens-category.jpg) no-repeat;
  background-size: cover, cover;
  height: 300px;
  padding-top: 9rem;
  padding-bottom: 9rem;

}

.trends-section {
  grid-area: trends-section;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../images/trends-category.jpg) no-repeat;
  background-size: cover, cover;
  height: 300px;
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.glasses-section {
  grid-area: glasses-section;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../images/glasses-category.jpg) no-repeat;
  background-size: cover, cover;
  height: 300px;
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.sales-section {
  grid-area: sales-section;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../images/sale-category.jpg) no-repeat;
  background-size: cover, cover;
  height: 300px;
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.bags-section {
  grid-area: bags-section;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../images/bags-category.jpg) no-repeat;
  background-size: cover, cover;
  height: 300px;
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.womens-section {
  grid-area: womens-section;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../images/womens-category.jpg) no-repeat;
  background-size: cover, cover;
  height: 300px;
  padding-top: 9rem;
  padding-bottom: 9rem;
}

/* loved-products section & flickity section */

.loved-products-section {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.main-carousel {
  display: block;
}

.carousel-cell {
  width: 100%;
  text-align: center;
}

.products-catagory {
  font-size: .75rem;
  text-transform: uppercase;
  color: #969696;
  font-weight: 700;
  margin-bottom: .5rem;
}

.products-name {
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  color: #e2574c;
  margin-bottom: .5rem;
}

.products-price {
  color: #969696;
  font-weight: 700;
  margin-bottom: .5rem;
}

/* Subscribe / Update Section */
.subscribe-section {
  background: linear-gradient(rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.5)),
    url(../images/wave-bkgd.jpg) no-repeat bottom;
  height: 300px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sign-up-text {
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 300;
  color: #fff;
  margin-bottom: 1rem;
}

.subscribe-text {
  font-size: 1rem;
  color: #fff;
  line-height: 2rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.subscribe-form {
  position: relative;
}

input {
  padding: .9rem 1.75rem;
  padding-right: 150px;
  width: 90%;
  border-radius: 25px;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

#submit {
  background-color: #e2574c;
  color: #fff;
  padding: .8rem 1.5rem;
  width: 20%;
  position: absolute;
  right: 30px;
  bottom: 3px;
  font-family: "Raleway", sans-serif;
  font-size: .9rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

/* footer section */
.aloha-footer {
  background-color: #242424;
  color: #fff;
  padding: 4rem 0;
  font-family: "Playfair Display", serif;
  text-align: center;
}

.copyright-container {
  margin-bottom: 1rem;
}

.contact-container a {
  color: #e2574c;
}

.contact-container {
  margin-bottom: 1rem;
}

.location-container {
  margin-bottom: 1rem;
}

.social-media-container li {
  display: inline-block;
  margin: .5rem;
}

.social-media-text{
display: none;
}

/* Media Queries */
@media only screen and (min-width: 600px) {

  /* header - 600px */
  .header-top {
    flex-wrap: nowrap;
    margin-bottom: 1rem;
  }

  .aloha-logo {
    order: 1;
  }

  .navigation-container {
    order: 2;
    border-top: 0px solid #d7d7d7;
  }

  .cart-logo {
    order: 3;
  }

  /* hero-banner section - 600px */



  .new-collection-text {
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }

  .spring-summer-text {
    font-size: 3rem;
  }

  .hand-crafted-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .hand-crafted-container h2 {
    font-size: 2.6rem;
    font-style: italic;
    font-family: "Playfair Display", serif;
    font-weight: 300;
  }

  .hand-crafted-container p {
    font-size: 1.2rem;
  }

  /* products section */

  .products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "mens-section mens-section trends-section glasses-section""sales-section bags-section womens-section womens-section";
    text-align: center;
  }

  .mens-section {
    grid-area: mens-section;  
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 150px;
  }

  .trends-section {
    grid-area: trends-section;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 150px
  }

  .glasses-section {
    grid-area: glasses-section;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 150px
  }

  .sales-section {
    grid-area: sales-section;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 150px
  }

  .bags-section {
    grid-area: bags-section;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 150px
  }

  .womens-section {
    grid-area: womens-section;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 150px
  }

/* most-loved products section */
.loved-products-section h2{
  margin-bottom: 2rem;
  font-weight: 300;
}

.carousel-cell img {
height: auto;
width:65%;
}

.carousel-cell {
width: 50%;
}

.sign-up-text{
  font-size: 2.5rem;
}
.subscribe-text{
  font-size: 1.1rem;
}

.subscribe-form{
  width: 70%;
  margin: 0 auto;
}

#submit {
  padding: .8rem 3.5rem;
  position: absolute;
  right: 22px;
  bottom: 3px;
  display: flex;
  justify-content: center;
}

/* footer */

.aloha-footer{
  display: flex;
}

.footer-container{
  width: 50%;
  text-align: left;
  margin-left: 1rem;
}
.social-media-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: right;
  margin-right: 1rem;
}

.social-media-container i{
  margin-right: 1px;
}

.social-media-text{
  display: inline-block;
  padding-left: 1rem;
  }

  .copyright-container{
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
  }

  .contact-container{
    margin-bottom: 1.5rem;
  }

  .location-container{
    color: #969696;
    line-height: 1.5rem;
  }
}

/* desktop size */
@media only screen and (min-width: 1240px) {


/* header section - 1240px*/
.header-top{
  max-width: 1240px;
  margin-bottom: 1.6rem;
}
.aloha-logo{
  flex: 0 1 15%;
}
.aloha-logo-img{
  max-width: 160px;
}

.navigation-container{
  align-self: center;
}

.navigation-container{
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-top: 0;
}

.cart-logo{
  max-width: 70px;
  margin-top: 0.3rem;
}

/* hero image section - 1240px */

.hero-image-section{
  height: 550px;
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: center, center 100px;
  background-size: contain, contain, contain;
}

/* hand-crafted section - desktop*/

.hand-crafted-section{
  width: 720px;
  margin: 0 auto;
}

.mens-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 300px;
}

.trends-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 300px;
}

.glasses-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 300px;
}

.sales-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 300px;
}

.bags-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 300px;
}

.womens-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 300px;
}

.centered {
  font-size: 2.7rem;
  font-weight: 600;
}

/* flickity / most-loved products section - desktop */

  
.carousel-cell {
  width: 25%;
  }

/* subscribe section - desktop */

.subscribe-section div{
  width: 720px;
  margin: 0 auto;
}

#submit{
  padding: .8rem 3.5rem;
  right: 27px;
  bottom: 2px;
}
/* footer section - desktop */
.aloha-footer{
  font-size: larger;
}

}



/* misc all */
a:hover {
  color: #b64036;
}

.social-media-container a{
  text-decoration: none;
  color: #fff;
}

.social-media-container a:hover{
  color: #b64036;
}

#submit:hover {
  background-color: #b64036;
}

.centered a{
text-decoration: none;
color: #fff;
}
.centered a:hover{
  color: #f5ebc6;
  }